@media (min-width:900px) {
    /* MODALES */
    /* MODAL IMPORTAR CHISTES DESDE JSON */

            .imagenImportarChistes {
                width: 25%;
            }


    /* MODAL EXPORTAR CHISTES A ARCHIVO JSON */

            .fotoModalExportar {
                width: 50%;
            }
}

@media (min-width:1350px) {
    /* MODALES */
    /* MODAL EXPORTAR CHISTES A ARCHIVO JSON */

            .fotoModalExportar {
                width: 35%;
            }
}