@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Playfair+Display:ital,wght@1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    /* color: white; */
}

img {
    width: 100%;
    height: 100%;
}

button i {
    color: black;
}

.ocultarCrearChiste {
    display: none;
}

.ocultarImportarChistes{
    display: none;
}

.ocultarExportarChistes {
    display: none;
}

.ocultarModificarChiste {
    display: none;
}


    body {
        background-image: linear-gradient(rgb(146, 146, 146) , rgb(2, 2, 1));
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        background-attachment: fixed;
    }

/* HEADER */
        header {
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            font-family: 'Lobster Two', cursive;
        }

                header figure figcaption {
                    text-align: center;
                    background-color: hsla(0, 0%, 0%, 0.541);
                    color: white;
                }

/*  MAIN */

            .principal {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 45px;
            }
                .botonesGenerales {
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                }

                    .botonGeneral {
                        width: 25px;
                        height: 25px;
                    }

                .chistes {
                    width: 75%;
                    padding-bottom: 10px;
                }

                    .chistes table {
                        width: 100%;
                        border-collapse: collapse;
                        color: white;
                    }

                    .chistes table td {
                        padding: 5px;
                        text-align: center;
                        border: 5px solid;
                    }
/*  MODALES */

/*  MODAL IMPORTAR CHISTES DESDE JSON */

        .modalImportarChistes {
            width: 1000px;
            height: 600px;
            position: fixed; 
            z-index: 1; 
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: hsl(180deg 62% 39%);
            text-align: center;
        }

            .contenidoImportarChistes {
                height: 95%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }

                .modalImportarChistes h4 {
                    width: 100%;
                    font-size: 50px;
                }

                .imagenImportarChistes {
                    width: 25%;
                }

                #formImportarChistes {
                    height: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    border: 1px solid black;
                    padding: 10px;
                }

                    #formImportarChistes label {
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    #formImportarChistes label span {
                        color: black;
                    }

/* MODAL EXPORTAR CHISTES A ARCHIVO JSON */

        .modalExportar {
            width: 800px;
            height: 600px;
            position: fixed; 
            z-index: 1; 
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: hsl(180deg 62% 39%);
            text-align: center;
        }

            .contenidoModalExportar {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
            
                .tituloContenidoModalExportar {
                    color: black;
                    font-size: 25px;
                }

                .fotoModalExportar {
                    width: 80%;
                }

                .enviarExportarChistes {
                    color: black;
                    font-family: 'Playfair Display', serif;
                    font-size: 25px;
                    font-weight: bolder;
                }

                .botonCerrarExportarChistes {
                    color: black;
                    font-family: 'Playfair Display', serif;
                    font-size: 20px;
                    font-weight: bolder;
                }

/* MODAL INTRODUCIR CHISTE */

        .modalCrear {
            width: 1500px;
            height: 900px;
            position: fixed; 
            z-index: 1; 
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: hsl(180deg 62% 39%);
            text-align: center;
        }

            .modalCrear h4 {
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 40px;
            }

            #formCrearChiste {
                width: 100%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
            }

                #tituloChiste {
                    width: 50%;
                    height: 50px;
                    color: black;
                    font-size: 25px;
                }

                #textoChiste {
                    font-size: 25px;
                }

                #categoriaChiste {
                    color: black;
                    font-size: 25px;
                }

                #formCrearChiste label {
                    font-size: 40px;
                }

                #formCrearChiste p {
                    font-size: 30px;
                }

                .botonCrearChiste {
                    width: 145px;
                    height: 30px;
                    background-color: whitesmoke;
                    color: black;
                }

                .botonCerrarCrearChiste {
                    color: black;
                    font-family: 'Playfair Display', serif;
                    font-size: 20px;
                    font-weight: bolder;
                }

/* MODAL EDITAR CHISTE */
                
        .modalEditar {
            width: 1500px;
            height: 900px;
            position: fixed; 
            z-index: 1; 
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(55, 96, 209);
            text-align: center;
        }

            .modalEditar h4 {
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 40px;
            }

            #formEditarChiste {
                width: 100%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
            }

                #tituloChisteModificar {
                    width: 50%;
                    height: 50px;
                    color: black;
                    font-size: 25px;
                }

                #textoChisteModificar {
                    font-size: 25px;
                }

                #categoriaChisteModificar {
                    color: black;
                    font-size: 25px;
                }

                #formEditarChiste label {
                    font-size: 40px;
                }

                #formEditarChiste p {
                    font-size: 30px;
                }

                .botonModificarChiste {
                    width: 145px;
                    height: 30px;
                    background-color: whitesmoke;
                    color: black;
                }

                .botonCerrarModificarChiste {
                    color: black;
                    font-family: 'Playfair Display', serif;
                    font-size: 20px;
                    font-weight: bolder;
                }

        



/* Positioning */
/* Display & Box Model */
/* Color */
/* Text */
/* Other */